*~
.*.swp
.coverage
*.pyc
venv
*.egg-info
.eggs/
.tox
.idea/
dist/
cover/
doc/_build
build/
sciunit2/libexec/*
!sciunit2/libexec/*.py
sciunit.1.gz
RELEASE-VERSION

# cmake
Makefile
/*.cmake
CMakeCache.txt
CMakeFiles/
install_manifest.txt

# Terraform
**/.terraform/
*.tfplan
crash.log

# Lambda build artifacts
aws/lambda-edge/terraform/dist/
aws/lambda-edge/*/node_modules/
aws/lambda-edge/*/package-lock.json